* {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(37, 34, 34);
}

body {
    text-align: center;
    color: white;
}

h1 {
    text-align: left;
}

.header {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    background-color: black;
    margin-top: 0%;
    margin-bottom: 2%;
}

.headerlinks {
    display: flex;
    font-size: 14pt;
    background-color: black;
}

main {
    display: grid;
    grid-template-areas:
    "text img"
    "nav nav";
    margin-top: 5%;
    grid-template-columns: 1fr 1fr;
    column-gap: -10%;
}

.image-container {
    text-align: left;
}

img {
    grid-area: img;
    width: 40%;
    height: auto;
    margin-top: 0%;
}

.text {
    grid-area: text;
    margin-left: 10%;
    margin-top: 5%;
}

nav {
    grid-area: nav;
}

ul {
    font-size: 14pt;
    display: flex;
}

li {
    margin-left: 40%;
    margin-top: 2%;
    list-style: none;
}

h2 {
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 0%
}

h3 {
    font-size: 60px;
    margin-top: 0%;
    margin-bottom: 2%;
}

p {
    font-size: 20px;
    margin-top: 2%;
}

li:hover {
    text-decoration: underline;
    text-transform: blue;
    text-decoration-color: blue;
}
